<h1 class="text-center">Escáner de Códigos de Barra</h1>

<!-- Botones para controlar la cámara -->
<div class="text-center mb-3">
    <button class="btn btn-primary" (click)="activarCamara()" *ngIf="!camaraActivada">Activar cámara</button>
    <button class="btn btn-danger" (click)="camaraActivada = false" *ngIf="camaraActivada">Desactivar cámara</button>
</div>

<!-- Vista de la cámara -->
<div *ngIf="camaraActivada" class="text-center">
    <div style="overflow: hidden; width: 320px; height: 240px;" class="mx-auto">
        <zxing-scanner #scanner (scanSuccess)="onCodeResult($event)" [device]="currentDevice" [formats]="formatsEnabled"
            (camerasFound)="onCamerasFound($event)" (permissionResponse)="onHasPermission($event)"
            style="width: 100%; height: 100%; object-fit: cover;" [style.transform]="'scale(' + zoomValue + ')'">
        </zxing-scanner>
    </div>
</div>
<!-- Resultados escaneados -->
<div *ngIf="scannedResults.length > 0" class="bg-light p-3 mt-3">
    <h3>Códigos escaneados:</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let codigo of scannedResults">{{ codigo }}</li>
    </ul>
</div>

<!-- Sección para escanear desde imagen -->
<h2>Escanear desde imagen</h2>
<input type="file" accept="image/*" (change)="cargarImagen($event)" class="form-control mb-2">
