<h1>Escaner</h1>
<button (click)="activarCamara()">Activar cámara</button>

<div *ngIf="camaraActivada">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <p>El escáner está aquí</p>
</div>
<div>
    <h1>Esta es la sección de la cámara</h1>
</div>

<h2>Escanear desde imagen</h2>
<input type="file" accept="image/*" (change)="cargarImagen($event)">
<button (click)="escanearImagen()" [disabled]="!imagenSeleccionada">Escanear imagen</button>

<div *ngIf="scannedResult" style="background-color: aquamarine;">
    <h3>Código escaneado:</h3>
    <p>{{ scannedResult }}</p>
</div>