.card-img-top {
  height: 300px; /* Ajusta la altura deseada para las imágenes */
  width: 100%;
  object-fit: cover; /* Llenará el espacio sin distorsionar */
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-dialog {
  max-width: 90%;
  max-height: 80%;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.sin-flechas::-webkit-outer-spin-button,
.sin-flechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sin-flechas {
  -moz-appearance: textfield;
}

.card {
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

/* colores de los cards rojo y verde */
.bg-light-green {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Texto oscuro */
}

.bg-light-red {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24; /* Texto oscuro */
}
