<div class="container mt-4">
  <h2 class="text-center">Registrar Producto</h2>
  <form [formGroup]="productoForm" (ngSubmit)="registrarProductos()">
    <div class="row">
      <div class="col-md-8">
        <!-- Nombre del Producto -->
        <div class="form-group row mb-4">
          <div class="col-sm-5 text-start">
            <label for="nombre_producto" class="form-label"
              >Nombre del Producto</label
            >
            <input
              type="text"
              id="nombre_producto"
              class="form-control"
              formControlName="nombre_producto"
              placeholder="Ingrese el nombre del producto"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('nombre_producto')?.invalid &&
                  productoForm.get('nombre_producto')?.touched
              }"
            />
            <div class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
          <div class="col-sm-5 text-start">
            <label for="codigo_producto" class="form-label"
              >Codigo Del Producto</label
            >
            <input
              type="text"
              id="codigo_producto"
              class="form-control"
              formControlName="codigo_producto"
              placeholder="Ingrese el codigo del producto"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('codigo_producto')?.invalid &&
                  productoForm.get('codigo_producto')?.touched
              }"
            />
            <div class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-4 text-start">
            <label for="precio_compra" class="form-label">Precio Compra</label>
            <input
              type="number"
              id="precio_compra"
              class="form-control"
              formControlName="precio_compra"
              placeholder="Ingrese el precio_compra"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('precio_compra')?.invalid &&
                  productoForm.get('precio_compra')?.touched
              }"
            />
            <div class="invalid-feedback">Ingrese un precio_compra válido.</div>
          </div>
          <div class="col-sm-3 text-start">
            <label for="precio_unitario" class="form-label"
              >Precio unitario</label
            >
            <input
              type="number"
              id="precio_unitario"
              class="form-control"
              formControlName="precio_unitario"
              placeholder="Ingrese el precio_unitario"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('precio_unitario')?.invalid &&
                  productoForm.get('precio_unitario')?.touched
              }"
            />
            <div class="invalid-feedback">
              Ingrese un precio_unitario válido.
            </div>
          </div>
          <div class="col-sm-3 text-start">
            <label for="precio_mayor" class="form-label">Precio Mayor</label>
            <input
              type="number"
              id="precio_mayor"
              class="form-control"
              formControlName="precio_mayor"
              placeholder="Ingrese el precio_mayor"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('precio_mayor')?.invalid &&
                  productoForm.get('precio_mayor')?.touched
              }"
            />
            <div class="invalid-feedback">Ingrese un precio_mayor válido.</div>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-5 text-start">
            <label for="stock" class="form-label">Stock</label>
            <input
              type="number"
              id="stock"
              class="form-control"
              formControlName="stock"
              placeholder="Ingrese el stock disponible"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('stock')?.invalid &&
                  productoForm.get('stock')?.touched
              }"
            />
            <div class="invalid-feedback">Ingrese una cantidad válida.</div>
          </div>
          <div class="col-sm-5 text-start">
            <label for="categoria" class="form-label">Categoría</label>
            <select
              id="categoria"
              class="form-select"
              formControlName="categoria"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('categoria')?.invalid &&
                  productoForm.get('categoria')?.touched
              }"
            >
              <option *ngFor="let cat of categoria" [value]="cat.id">
                {{ cat.nombre_categoria }}
              </option>
            </select>
            <div class="invalid-feedback">Seleccione una categoría.</div>
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-10 text-start">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              id="descripcion"
              class="form-control"
              formControlName="descripcion"
              placeholder="Ingrese una descripción"
              rows="3"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('descripcion')?.invalid &&
                  productoForm.get('descripcion')?.touched
              }"
            ></textarea>
            <div class="invalid-feedback">Este campo es obligatorio.</div>
          </div>
        </div>

        <!-- Botón de Enviar -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="productoForm.invalid"
        >
          Registrar Producto
        </button>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label
            for="imagen_productos"
            class="form-label"
            style="font-size: 1.6rem"
          >
            Imagen del Producto
          </label>
          <input
            type="file"
            id="imagen_productos"
            class="form-control"
            (change)="onFileChange($event)"
            [ngClass]="{ 'is-invalid': isFileInvalid }"
          />
          <div class="invalid-feedback">{{ errorMensaje }}</div>
          <!-- Vista previa de la imagen -->
          <div class="mt-3">
            <img
              *ngIf="imagenPreview"
              [src]="imagenPreview"
              alt="Vista previa de la imagen"
              class="img-thumbnail"
              style="width: 350px; height: 350; object-fit: cover"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal de Éxito -->
  <app-ok
    *ngIf="mensajeModal"
    [mensaje]="mensajeModal"
    (close)="manejarOk()"
  ></app-ok>

  <!-- Modal de Error -->
  <app-error
    *ngIf="errorModal"
    [mensaje]="errorModal"
    (close)="manejarError()"
  ></app-error>
</div>
