.card-img-top {
  height: 150px; /* Ajusta la altura deseada para las imágenes */
  width: auto; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Limita el ancho máximo al 100% del contenedor */
  object-fit: cover; /* Llenará el espacio sin distorsionar */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Asegura que el margen funcione correctamente */
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-dialog {
  max-width: 90%;
  max-height: 80%;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.sin-flechas::-webkit-outer-spin-button,
.sin-flechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sin-flechas {
  -moz-appearance: textfield;
}

.card {
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.position-sticky {
  z-index: 10; /* Asegúrate de que la tarjeta esté por encima de otros elementos */
}

.custom-bg-blue-200 {
  background-color: #90caf9; /* Reemplaza con el valor hexadecimal de $blue-200 */
  color: black; /* Asegúrate de que el texto sea legible */
}
.custom-bg-orange-400 {
  background-color: #ff9800; /* Color naranja */
  color: white; /* Texto blanco */
}
