<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-center">Listado de Recargas</h3>
    <button class="btn btn-primary" (click)="registrarRecarga()">
      Registrar Nueva
    </button>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre"
        [(ngModel)]="searchNombre"
      />
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-success">
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Cantidad Diamantes 💎</th>
        <th>Precio Compra Bs 💵</th>
        <th>Precio Venta Bs 💵</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recarga of filteredRecargas()">
        <td>{{ recarga.nombre }}</td>
        <td>{{ recarga.categoria.nombre_categoria }}</td>
        <td>{{ recarga.cantidad }}</td>
        <td>{{ recarga.precio_compra }}</td>
        <td>{{ recarga.precio_venta }}</td>
        <td>
          <span
            class="badge"
            [ngClass]="recarga.estado ? 'bg-success' : 'bg-danger'"
            style="cursor: pointer"
            (click)="toggleEstado(recarga)"
          >
            {{ recarga.estado ? "Activo" : "Inactivo" }}
          </span>
        </td>
        <td>
          <button
            class="btn btn-sm btn-warning me-2"
            (click)="editarRecarga(recarga.id)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>

    <!-- FILA DE TOTALES -->
    <tfoot class="table-light fw-bold">
      <tr>
        <td colspan="2" class="text-end">Totales:</td>
        <td>{{ getTotalDiamantes() }}</td>
        <td>{{ getTotalPrecioCompra() | number : "1.2-2" }}</td>
        <td>{{ getTotalPrecioVenta() | number : "1.2-2" }}</td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>

  <div class="d-flex justify-content-between mt-3">
    <button
      class="btn btn-secondary"
      (click)="previousPage()"
      [disabled]="page === 1"
    >
      Anterior
    </button>
    <button
      class="btn btn-secondary"
      (click)="nextPage()"
      [disabled]="filteredRecargas().length < pageSize"
    >
      Siguiente
    </button>
  </div>
</div>
