<section class="layout">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md sticky-top bg-light shadow-sm">
    <div class="container-fluid mx-2">
      <button class="btn me-2 toggle-button" (click)="toggleSidebar()">
        <i [ngClass]="isSidebarOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
      </button>

      <div class="ms-auto d-flex align-items-center gap-2">
        <button class="btn rounded-circle p-0" (click)="verPerfil()">
          <img
            *ngIf="imagen_url"
            [src]="imagen_url"
            class="rounded-circle"
            style="width: 40px; height: 40px; object-fit: cover"
            alt="Perfil"
          />
          <i
            *ngIf="!imagen_url"
            class="fas fa-user-circle fa-2x text-secondary"
          ></i>
        </button>

        <button class="btn rounded-circle" (click)="confirmarCerrarSesion()">
          <i class="fas fa-power-off text-danger"></i>
        </button>
        <button class="btn rounded-circle" (click)="panelDeControl()">
          <i class="bi bi-house"></i>
        </button>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <aside
    class="leftSide"
    [class.sidebar-open]="isSidebarOpen"
    [class.sidebar-closed]="!isSidebarOpen"
  >
    <div class="p-3 text-start content p-0 bounce-content">
      <hr class="text-dark" />
      <hr class="text-dark" />
      <img
        *ngIf="imagen_url"
        [src]="imagen_url"
        class="rounded-circle"
        style="width: 200px; height: 200px; object-fit: cover"
        alt="Perfil"
      />

      <p class="text-dark">Nombre: {{ nombre_usuario }} {{ apellido }}</p>
      <p class="text-dark">Rol: {{ roles }}</p>
      <!-- Agregado: Muestra el primer rol debajo del nombre -->

      <hr class="text-dark" />
      <hr class="text-dark" />

      <ul class="list-group">
        <!-- Gestión de Usuarios -->
        <li
          *ngIf="tieneRol('Administrador')"
          class="d-flex align-items-center"
          (click)="toggleSubmenu('usuarios')"
        >
          <i class="bi bi-person fs-2 text-dark pe-2"></i>
          <span class="text-dark flex-grow-1">Gestión de Usuarios</span>
          <i class="bi bi-chevron-right text-dark"></i>
        </li>

        <ul class="list-group ps-3" *ngIf="isSubmenuOpen('usuarios')">
          <!-- USUARIOS - ROLES -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarRoles')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-person-check fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-roles"
                class="text-dark text-decoration-none"
              >
                Roles
              </a>
            </div>
          </li>

          <!-- USUARIOS - PERMISOS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarPermisos')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-person-check fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-permisos"
                class="text-dark text-decoration-none"
              >
                permisos
              </a>
            </div>
          </li>

          <!-- USUARIOS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarUsuarios')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-person-lines-fill fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-usuarios"
                class="text-dark text-decoration-none"
              >
                Usuarios
              </a>
            </div>
          </li>

          <!-- USUARIOS - ROLES (RELACIÓN) -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarUsuarioRoles')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-diagram-3 fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-usuarios-roles"
                class="text-dark text-decoration-none"
              >
                Usuarios - Roles
              </a>
            </div>
          </li>

          <!-- ROLES - PERMISOS (RELACIÓN) -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarRolesPermisos')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-diagram-2 fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-roles-permisos"
                class="text-dark text-decoration-none"
              >
                Roles - Permisos
              </a>
            </div>
          </li>
        </ul>

        <!-- Productos y Ventas -->
        <li
          class="d-flex align-items-center"
          (click)="toggleSubmenu('productos')"
        >
          <i class="bi bi-shop fs-2 text-dark pe-2"></i>
          <span class="text-dark flex-grow-1">Productos y Ventas</span>
          <i class="bi bi-chevron-right text-dark"></i>
        </li>

        <ul class="list-group ps-3" *ngIf="isSubmenuOpen('productos')">
          <!-- CATEGORÍAS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarCategorias')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-tags fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-categorias"
                class="text-dark text-decoration-none"
              >
                Categorías
              </a>
            </div>
          </li>

          <!-- PRODUCTOS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('registrarProductos')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-shop fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-productos"
                class="text-dark text-decoration-none"
              >
                Productos
              </a>
            </div>
          </li>

          <!-- PRODUCTOS (EMPLEADO) -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('listarProductosEmpleado')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-box-seam fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-productos-empleado"
                class="text-dark text-decoration-none"
              >
                Productos (Empleado)
              </a>
            </div>
          </li>

          <!-- VENTAS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer(['registrarVenta', 'registrarVenta-Empleado'])"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-cart-check fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-ventas"
                class="text-dark text-decoration-none"
              >
                Ventas
              </a>
            </div>
          </li>

          <!-- DETALLE VENTAS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="
              puedeVer([
                'registrarDetalleVenta',
                'registrar-DetalleVenta-Empleado'
              ])
            "
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-journal-bookmark fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-detalle-ventas"
                class="text-dark text-decoration-none"
              >
                Detalle Ventas
              </a>
            </div>
          </li>

          <!-- VENDER -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="
              puedeVer([
                'registrarVenta-DetalleVenta-Administrador',
                'registrarVenta-DetalleVenta-Empleado'
              ])
            "
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-cart4 fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-productos-empleado"
                class="text-dark text-decoration-none"
              >
                Vender
              </a>
            </div>
          </li>

          <!-- TARJETAS -->
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('PedidoTarjetas')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-postcard-heart fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/targetas"
                class="text-dark text-decoration-none"
              >
                Tarjetas
              </a>
            </div>
          </li>
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('PedidoTarjetas')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-postcard-heart fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-RecargaProducto"
                class="text-dark text-decoration-none"
              >
                Recarga Producto
              </a>
            </div>
          </li>
          <li
            class="d-flex align-items-center p-2 rounded"
            *ngIf="puedeVer('PedidoTarjetas')"
          >
            <div style="flex-shrink: 0">
              <i class="bi bi-postcard-heart fs-2 text-dark"></i>
            </div>
            <div class="flex-grow-1 text-start ms-2">
              <a
                routerLink="/panel-control/listar-DetalleVentaRecarga"
                class="text-dark text-decoration-none"
              >
                Detalle Venta Recarga
              </a>
            </div>
          </li>
        </ul>
      </ul>
    </div>
  </aside>

  <!-- Overlay -->
  <div
    class="overlay"
    *ngIf="windowWidth < 768"
    [class.overlay-visible]="isSidebarOpen"
    (click)="toggleSidebar()"
  ></div>

  <!-- Contenido Principal -->
  <main
    class="main-content"
    [class.content-shifted]="isSidebarOpen && windowWidth >= 768"
  >
    <router-outlet></router-outlet>
  </main>
</section>
