<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <!-- Botón Volver a Inicio con margen para separación -->
  <a
    class="btn btn-primary position-absolute top-0 end-0 m-4 btn-lg"
    (click)="navigateToHome()"
    title="Volver a Inicio"
    style="margin-top: 20px"
  >
    <span class="d-flex align-items-center">
      <i class="bi bi-person-walking fs-5"></i>
      <i class="bi bi-door-open fs-2 rotate-left"></i>
    </span>
  </a>
  <br /><br />
  <!-- Contenedor del formulario de inicio de sesión -->
  <div class="row w-100 justify-content-center g-0">
    <!-- Formulario de inicio de sesión -->
    <div class="col-md-1 col-lg-2 d-flex align-items-center">
      <div class="card p-4 rounded w-100 d-flex flex-column">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <p class="text-center">
          ¿Aún no tienes una cuenta?
          <a href="#" class="text-primary">Regístrate</a>
        </p>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mt-4">
          <div class="mb-3">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control form-control-lg"
              id="correo"
              name="correo"
              placeholder="you@example.com"
              required
              [(ngModel)]="correo"
              [ngClass]="{
                'is-invalid':
                  loginForm.controls['correo'] &&
                  loginForm.controls['correo'].invalid &&
                  loginForm.controls['correo'].touched
              }"
            />
            <div
              *ngIf="
                loginForm.controls['correo'] &&
                loginForm.controls['correo'].invalid &&
                loginForm.controls['correo'].touched
              "
              class="invalid-feedback"
            >
              Por favor, ingrese su correo electrónico.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form-control-lg"
                id="password"
                name="password"
                placeholder="Ingrese su contraseña"
                [(ngModel)]="password"
                required
                [ngClass]="{
                  'is-invalid':
                    loginForm.controls['password'] &&
                    loginForm.controls['password'].invalid &&
                    loginForm.controls['password'].touched
                }"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="togglePasswordVisibility()"
              >
                <i
                  [ngClass]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"
                ></i>
              </button>
            </div>
            <div
              *ngIf="
                loginForm.controls['password'] &&
                loginForm.controls['password'].invalid &&
                loginForm.controls['password'].touched
              "
              class="invalid-feedback"
            >
              Por favor, ingrese su contraseña.
            </div>
          </div>
          <small class="form-text">
            <a href="#" class="text-primary"
              >¿Has olvidado tu contraseña comuniquese con el Admistrador?</a
            ></small
          >

          <button
            type="submit"
            class="btn w-100 mt-3"
            [ngClass]="{
              'btn-danger': !isFormValid(),
              'btn-success': isFormValid()
            }"
            [disabled]="!isFormValid() || isLoading"
          >
            <span
              *ngIf="isLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Iniciar Sesión
          </button>
        </form>
        <hr class="my-4" />

        <p class="text-center">o inicia sesión con</p>
        <div class="d-flex justify-content-around">
          <button class="btn" style="background-color: #ff4800; color: white">
            <!-- Google Button -->
            <i class="bi bi-google"></i> Google
          </button>
          <button class="btn btn-primary border">
            <i class="bi bi-facebook"></i> Facebook
          </button>
        </div>
      </div>
    </div>

    <!-- Imagen lateral -->
    <div
      class="col-md-3 d-none d-md-flex justify-content-center align-items-center"
    >
      <img
        src="https://www.bancodelaustro.com/portals/0/RegresoAClases/assets/images/gente.png"
        class="img-fluid"
        alt="E-commerce illustration"
      />
    </div>
  </div>

  <!-- Ventana emergente de éxito -->
  <div
    *ngIf="mensaje"
    class="alert alert-success position-fixed top-50 start-50 translate-middle text-center"
    style="
      width: 400px;
      height: 300px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1050;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <i class="bi bi-emoji-smile" style="font-size: 4rem"></i>
    <p class="mt-3" style="font-size: 1.25rem; text-align: center">
      {{ mensaje }}
    </p>
    <button
      class="btn btn-success w-100 mt-2"
      style="font-size: 1.25rem"
      (click)="closeMessage()"
    >
      Continuar
    </button>
  </div>

  <!-- Ventana emergente de error -->
  <div
    *ngIf="error"
    class="alert alert-danger position-fixed top-50 start-50 translate-middle text-center"
    style="
      width: 400px;
      height: 300px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1050;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <i class="bi bi-emoji-frown" style="font-size: 4rem"></i>
    <p class="mt-3" style="font-size: 1.25rem; text-align: center">
      {{ error }}
    </p>
    <button
      class="btn btn-danger w-100 mt-2"
      style="font-size: 1.25rem"
      (click)="closeMessage()"
    >
      Intentar de nuevo
    </button>
  </div>
</div>
