<div class="container">
  <h1 class="text-center">Registrar Permisos</h1>
  <form [formGroup]="permisosForm" (ngSubmit)="register()">
    <div class="form-group text-start">
      <label for="nombrePermiso">Nombre del Permiso:</label>
      <input
        id="nombrePermiso"
        type="text"
        formControlName="nombrePermiso"
        class="form-control"
        placeholder="Ingrese el nombre del permiso"
      />
      <div
        *ngIf="
          permisosForm.get('nombrePermiso')?.invalid &&
          permisosForm.get('nombrePermiso')?.touched
        "
        class="text-danger"
      >
        El nombre del permiso es requerido.
      </div>
    </div>

    <div class="form-group mt-3 text-start">
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        formControlName="descripcion"
        class="form-control"
        placeholder="Ingrese la descripción del permiso"
      ></textarea>
      <div
        *ngIf="
          permisosForm.get('descripcion')?.invalid &&
          permisosForm.get('descripcion')?.touched
        "
        class="text-danger"
      >
        La descripción es requerida.
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="permisosForm.invalid"
      >
        Registrar permiso
      </button>
    </div>
  </form>
  <!-- Modal de Éxito -->
  <app-ok
    *ngIf="mensajeModal"
    [mensaje]="mensajeModal"
    (close)="manejarOk()"
  ></app-ok>

  <!-- Modal de Error -->
  <app-error
    *ngIf="errorModal"
    [mensaje]="errorModal"
    (close)="manejarError()"
  ></app-error>
</div>
