<div class="container" style="padding-bottom: 50px">
  <h2>Editar Usuario</h2>

  <form [formGroup]="editarForm" (ngSubmit)="onSubmit()">
    <!-- Nombre -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="nombre_usuario">Nombre Usuarios</label>
      <input
        type="text"
        id="nombre_usuario"
        formControlName="nombre_usuario"
        class="form-control"
        (focus)="validarNombre($event)"
        (keypress)="validarNombre($event)"
        [ngClass]="{
          'is-invalid':
            editarForm.get('nombre_usuario')?.invalid &&
            editarForm.get('nombre_usuario')?.touched
        }"
      />
      <div *ngIf="mensajeNombre" class="invalid-feedback">
        {{ mensajeNombre }}
      </div>
    </div>

    <!-- Apellido -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="apellido">Apellido</label>
      <input
        type="text"
        id="apellido"
        formControlName="apellido"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            editarForm.get('apellido')?.invalid &&
            editarForm.get('apellido')?.touched
        }"
      />
      <div
        *ngIf="
          editarForm.get('apellido')?.invalid &&
          editarForm.get('apellido')?.touched
        "
        class="invalid-feedback"
      >
        El apellido es requerido.
      </div>
    </div>

    <!-- Fecha Nacimiento -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
      <input
        type="date"
        id="fecha_nacimiento"
        formControlName="fecha_nacimiento"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            editarForm.get('fecha_nacimiento')?.invalid &&
            editarForm.get('fecha_nacimiento')?.touched
        }"
      />
    </div>

    <!-- Teléfono -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="telefono">Teléfono</label>
      <input
        type="text"
        id="telefono"
        formControlName="telefono"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            editarForm.get('telefono')?.invalid &&
            editarForm.get('telefono')?.touched
        }"
      />
    </div>

    <!-- Correo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="correo">Correo</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            editarForm.get('correo')?.invalid &&
            editarForm.get('correo')?.touched
        }"
      />
    </div>

    <!-- CI -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="ci">C.I.</label>
      <input type="text" id="ci" formControlName="ci" class="form-control" />
    </div>

    <!-- Departamento -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="ci_departamento">Departamento C.I.</label>
      <select
        id="ci_departamento"
        formControlName="ci_departamento"
        class="form-control"
      >
        <option value="">Seleccione un departamento</option>
        <option value="LP">La Paz</option>
        <option value="CB">Cochabamba</option>
        <option value="SC">Santa Cruz</option>
        <option value="BN">Beni</option>
        <option value="PD">Pando</option>
        <option value="TJ">Tarija</option>
        <option value="CH">Chuquisaca</option>
        <option value="OR">Oruro</option>
        <option value="PT">Potosí</option>
      </select>
    </div>

    <!-- Imagen -->
    <div class="form-group d-flex flex-column align-items-center">
      <label for="imagen_url">Imagen</label>
      <input
        type="file"
        id="imagen_url"
        class="form-control"
        (change)="onImageChange($event)"
      />
      <div *ngIf="imagenPreview" class="mt-2">
        <img
          [src]="imagenPreview"
          class="img-fluid"
          style="max-width: 200px; max-height: 200px"
        />
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary me-2"
      [disabled]="editarForm.invalid"
    >
      Actualizar Usuario
    </button>
    <button class="btn btn-success" (click)="volver()">Volver</button>
  </form>

  <app-ok
    *ngIf="mensajeModal"
    [mensaje]="mensajeModal"
    (close)="manejarOk()"
  ></app-ok>

  <app-error
    *ngIf="errorModal"
    [mensaje]="errorModal"
    (close)="manejarError()"
  ></app-error>
</div>
